openapi: 3.0.4
info:
  title: Alogram PayRisk Engine
  description: |
    Alogram PayRisk is an AI-native decision engine built for the speed and 
    complexity of the modern commerce era. In a high-velocity world where 
    AI-driven threats evolve in milliseconds, Alogram provides the real-time 
    adaptability and forensic transparency needed to protect your ecosystem 
    with total confidence. We solve the challenge of balancing frictionless 
    growth with regulatory explainability, delivering instant, intelligent 
    risk orchestration at enterprise scale.

    ---


    ## Licensing & Terms


    Our client libraries and API specifications are open-source under the **Apache License 2.0** 
    to ensure seamless integration into your tech stack.

    Use of the Alogram PayRisk API service is proprietary and governed by our 
    [Terms of Service](https://alogram.ai/#tos) and your specific **Enterprise Agreement**, 
    if applicable.

    To access the service, you must have:
    *   A valid Alogram API Key.
    *   An active subscription or signed Master Service Agreement.

    Unauthorized use, including automated scraping or reverse engineering of the 
    scoring engine, is strictly prohibited.


    ---


    ## Support & Traceability


    Every Alogram API response includes a unique **`x-trace-id`** header. 
    Please include this ID when contacting [packages@alogram.ai](mailto:packages@alogram.ai) 
    regarding specific transactions or errors.


    ---


    ## Specification


    The authoritative OpenAPI specification for this version is available for download:
    **[Download openapi.yaml](https://developers.alogram.ai/openapi.yaml)** | **[Download openapi.json](https://developers.alogram.ai/openapi.json)**
  termsOfService: https://alogram.ai/#tos
  contact:
    name: Alogram Engineering
    url: https://developers.alogram.ai
    email: packages@alogram.ai
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 0.2.21
  x-logo:
    url: logo.png
    altText: Alogram PayRisk Logo
    backgroundColor: '#FFFFFF'
servers:
  - url: https://api.alogram.ai
    description: Production Environment
  - url: https://api-sandbox.alogram.ai
    description: Sandbox Environment (for integration testing)
security:
  - ApiKey: []
  - oAuth2:
      - payrisk.write
tags:
  - name: Risk Scoring
    description: Real-time risk assessment and automated decision orchestration.
  - name: Signal Intelligence
    description: Ingestion of payment lifecycle events and behavioral telemetry.
  - name: Forensic Data
    description: Retrieval of historical assessments and deep forensic insights.
  - name: System
    description: Service health and connectivity diagnostics.
  - name: Roadmap & Preview
    description: Future capabilities currently in active development or private beta.
paths:
  /v1/risk/check:
    post:
      summary: Assess Transaction Risk
      security:
        - ApiKey: []
        - oAuth2:
            - payrisk.write
      operationId: riskCheck
      tags:
        - Risk Scoring
      parameters:
        - $ref: '#/components/parameters/TraceIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeaderRequired'
        - $ref: '#/components/parameters/AgentManifestHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckRequest'
            examples:
              StandardPurchase:
                summary: A typical e-commerce purchase check
                value:
                  paymentIntentId: pi_0123456789abcdef0123456789abcdef
                  entities:
                    tenantId: ten_acme_01
                    clientId: cli_merchant_42
                    endCustomerId: cus_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
                    deviceId: did_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                    sessionId: sid_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
                  identity:
                    email: shopper@example.com
                    phone: +1 (415) 555-2671
                    shippingAddress:
                      line1: 123 Market Street
                      city: San Francisco
                      region: CA
                      postalCode: '94103'
                      country: US
                  purchase:
                    amount: 123.45
                    currency: USD
                    paymentMethod:
                      type: card
                      cardNetwork: visa
                      bin: '411111'
      responses:
        '200':
          description: Synchronous risk decision.
          headers:
            x-trace-id:
              $ref: '#/components/headers/TraceIdHeader'
            x-idempotency-key:
              $ref: '#/components/headers/XIdempotencyKeyHeader'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DecisionResponse'
              examples:
                ApprovedResponse:
                  summary: A successful low-risk decision
                  value:
                    assessmentId: pi_0123456789abcdef0123456789abcdef
                    decision: approve
                    decisionAt: '2026-05-07T15:45:30.123Z'
                    riskScore: 0.12
                    decisionScore: 0.12
                    fraudScore:
                      score: 0.12
                      riskLevel: low
                      confidence: high
        '400':
          $ref: '#/components/responses/SharedErrorResponse'
        '401':
          $ref: '#/components/responses/SharedErrorResponse'
        '403':
          $ref: '#/components/responses/SharedErrorResponse'
        '422':
          $ref: '#/components/responses/SharedErrorResponse'
        '429':
          $ref: '#/components/responses/SharedErrorResponse'
        '500':
          $ref: '#/components/responses/SharedErrorResponse'
  /v1/events:
    post:
      summary: Ingest Lifecycle Signals
      operationId: ingestPaymentEvent
      tags:
        - Signal Intelligence
      security:
        - ApiKey: []
        - oAuth2:
            - payrisk.write
      parameters:
        - $ref: '#/components/parameters/TraceIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeaderRequired'
        - $ref: '#/components/parameters/AgentManifestHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PaymentEvent'
            examples:
              AuthorizationEvent:
                summary: A standard payment authorization event
                value:
                  paymentIntentId: pi_0123456789abcdef0123456789abcdef
                  eventType: authorization
                  timestamp: '2026-05-07T15:45:30.123Z'
                  amount: 123.45
                  currency: USD
                  outcome:
                    authorization:
                      approved: true
                      responseCode: '00'
      responses:
        '202':
          description: Accepted
          headers:
            x-trace-id:
              $ref: '#/components/headers/TraceIdHeader'
            x-idempotency-key:
              $ref: '#/components/headers/XIdempotencyKeyHeader'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
              examples:
                AcceptedResponse:
                  summary: Event received and queued for processing
                  value:
                    status: accepted
        '400':
          $ref: '#/components/responses/SharedErrorResponse'
        '401':
          $ref: '#/components/responses/SharedErrorResponse'
        '403':
          $ref: '#/components/responses/SharedErrorResponse'
        '404':
          $ref: '#/components/responses/SharedErrorResponse'
        '409':
          $ref: '#/components/responses/SharedErrorResponse'
        '413':
          $ref: '#/components/responses/SharedErrorResponse'
        '422':
          $ref: '#/components/responses/SharedErrorResponse'
        '429':
          $ref: '#/components/responses/SharedErrorResponse'
        '500':
          $ref: '#/components/responses/SharedErrorResponse'
  /v1/signals:
    post:
      summary: Submit Behavioral Intelligence
      operationId: ingestSignals
      tags:
        - Signal Intelligence
      security:
        - ApiKey: []
        - oAuth2:
            - payrisk.write
      parameters:
        - $ref: '#/components/parameters/TraceIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeaderRequired'
        - $ref: '#/components/parameters/AgentManifestHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalsRequest'
            examples:
              UserInteraction:
                summary: A standard user interaction signal (e.g. login)
                value:
                  signalType: interaction
                  entities:
                    tenantId: ten_alogram_01
                    endCustomerId: cus_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
                  interactions:
                    - interactionType: login
                      timestamp: '2026-05-07T15:45:30.123Z'
                      locationId: loc_1234
      responses:
        '202':
          description: Accepted
          headers:
            x-trace-id:
              $ref: '#/components/headers/TraceIdHeader'
            x-idempotency-key:
              $ref: '#/components/headers/XIdempotencyKeyHeader'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
              examples:
                AcceptedResponse:
                  summary: Signals received and queued for processing
                  value:
                    status: accepted
        '400':
          $ref: '#/components/responses/SharedErrorResponse'
        '413':
          $ref: '#/components/responses/SharedErrorResponse'
        '422':
          $ref: '#/components/responses/SharedErrorResponse'
        '429':
          $ref: '#/components/responses/SharedErrorResponse'
        '500':
          $ref: '#/components/responses/SharedErrorResponse'
  /v1/scores/{tenantId}:
    get:
      summary: Query Historical Assessments
      operationId: getFraudScores
      tags:
        - Forensic Data
      security:
        - ApiKey: []
        - oAuth2:
            - payrisk.read
      parameters:
        - $ref: '#/components/parameters/TraceIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeaderOptional'
        - name: tenantId
          in: path
          required: true
          schema:
            $ref: '#/components/schemas/TenantId'
        - name: startTime
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: endTime
          in: query
          schema:
            $ref: '#/components/schemas/Timestamp'
        - name: pageSize
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 500
            default: 50
        - name: pageToken
          in: query
          schema:
            type: string
      responses:
        '200':
          $ref: '#/components/responses/ScoresSuccessResponse'
        '400':
          $ref: '#/components/responses/SharedErrorResponse'
        '500':
          $ref: '#/components/responses/SharedErrorResponse'
  /v1/health:
    get:
      summary: Health check for the service
      operationId: healthCheck
      tags:
        - System
      security: []
      responses:
        '200':
          description: Service is healthy
        '503':
          description: Service is unavailable
  /v1/risk/account/check:
    post:
      summary: Synchronous fraud decision for account/session events
      description: |
        > **Coming Soon**: This endpoint is currently in active development.
        Assess risk for account-level events such as signup, login, and profile changes.
      x-badges:
        - name: Coming Soon
          color: grey
      operationId: accountRiskCheck
      tags:
        - Roadmap & Preview
      security:
        - ApiKey: []
        - oAuth2:
            - payrisk.write
      parameters:
        - $ref: '#/components/parameters/TraceIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeaderRequired'
        - $ref: '#/components/parameters/AgentManifestHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountCheckRequest'
      responses:
        '200':
          $ref: '#/components/responses/DecisionResponse'
        '400':
          $ref: '#/components/responses/SharedErrorResponse'
        '422':
          $ref: '#/components/responses/SharedErrorResponse'
        '429':
          $ref: '#/components/responses/SharedErrorResponse'
        '500':
          $ref: '#/components/responses/SharedErrorResponse'
  /v1/risk/kyc/check:
    post:
      summary: Synchronous decision for KYC/identity verification
      description: |
        > **Coming Soon**: This endpoint is currently in active development.
        Assess risk for identity verification and KYC workflows.
      x-badges:
        - name: Coming Soon
          color: grey
      operationId: kycRiskCheck
      tags:
        - Roadmap & Preview
      security:
        - ApiKey: []
        - oAuth2:
            - payrisk.write
      parameters:
        - $ref: '#/components/parameters/TraceIdHeader'
        - $ref: '#/components/parameters/IdempotencyKeyHeaderRequired'
        - $ref: '#/components/parameters/AgentManifestHeader'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KycCheckRequest'
      responses:
        '200':
          $ref: '#/components/responses/DecisionResponse'
        '400':
          $ref: '#/components/responses/SharedErrorResponse'
        '422':
          $ref: '#/components/responses/SharedErrorResponse'
        '429':
          $ref: '#/components/responses/SharedErrorResponse'
        '500':
          $ref: '#/components/responses/SharedErrorResponse'
components:
  responses:
    DecisionResponse:
      description: Synchronous risk decision.
      headers:
        x-trace-id:
          $ref: '#/components/headers/TraceIdHeader'
        x-idempotency-key:
          $ref: '#/components/headers/XIdempotencyKeyHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/DecisionResponse'
    ScoresSuccessResponse:
      description: List of fraud scores for a customer.
      headers:
        x-trace-id:
          $ref: '#/components/headers/TraceIdHeader'
        x-idempotency-key:
          $ref: '#/components/headers/XIdempotencyKeyHeader'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ScoresSuccessResponse'
    SharedErrorResponse:
      description: An error response.
      content:
        application/problem+json:
          schema:
            $ref: '#/components/schemas/Problem'
          examples:
            ValidationError:
              value:
                type: https://api.alogram.ai/probs/validation
                title: Validation Error
                status: 422
                detail: The 'entities.tenantId' field is required.
                instance: https://api.alogram.ai/v1/risk/check
                errorCode: VAL_001
                traceId: trc_abcdef1234567890
            SystemError:
              value:
                type: https://api.alogram.ai/probs/internal-error
                title: Internal Server Error
                status: 500
                detail: An unexpected error occurred while processing your request.
                instance: https://api.alogram.ai/v1/risk/check
                errorCode: SRV_001
                traceId: trc_abcdef1234567890
      headers:
        x-trace-id:
          $ref: '#/components/headers/TraceIdHeader'
        x-idempotency-key:
          $ref: '#/components/headers/XIdempotencyKeyHeader'
  schemas:
    CheckRequest:
      type: object
      required:
        - entities
        - purchase
      description: Request for synchronous purchase risk check.
      properties:
        eventType:
          type: string
          enum:
            - purchase
          default: purchase
          description: (optional) event being checked, this may expand later beyond 'purchase'.
        paymentIntentId:
          $ref: '#/components/schemas/PaymentIntentId'
        entities:
          $ref: '#/components/schemas/EntityIds'
        purchase:
          $ref: '#/components/schemas/Purchase'
        identity:
          $ref: '#/components/schemas/Identity'
        externalAssessments:
          type: array
          description: Optional 3rd party risk assessments (e.g. Shopify, Stripe, Signifyd).
          items:
            $ref: '#/components/schemas/ExternalAssessment'
      example:
        paymentIntentId: pi_0123456789abcdef0123456789abcdef
        entities:
          tenantId: ten_acme_01
          clientId: cli_merchant_42
          endCustomerId: cus_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
          paymentInstrumentId: tok_abcdef1234567890
          deviceId: did_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
          sessionId: sid_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
          emailHash: sha256_e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
          phoneHash: sha256_e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
        identity:
          email: shopper@example.com
          phone: +1 (415) 555-2671
          shippingAddress:
            line1: 123 Market Street
            city: San Francisco
            region: CA
            postalCode: '94103'
            country: US
          billingAddress:
            line1: 123 Market Street
            city: San Francisco
            region: CA
            postalCode: '94103'
            country: US
        purchase:
          amount: 123.45
          currency: USD
          paymentMethod:
            type: card
            cardNetwork: visa
            bin: '411111'
    DecisionResponse:
      title: DecisionResponse
      type: object
      description: The synchronous risk decision for a purchase.
      required:
        - assessmentId
        - decision
        - riskScore
        - decisionAt
        - decisionScore
      properties:
        assessmentId:
          type: string
          description: Universal decision identifier. For purchases, equals paymentIntentId.
          minLength: 8
          maxLength: 64
          pattern: ^[a-zA-Z0-9\-_]+$
        decision:
          type: string
          enum:
            - approve
            - review
            - decline
            - step_up
        decisionAt:
          $ref: '#/components/schemas/Timestamp'
        riskScore:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: 'DEPRECATED: Use decisionScore instead. Current blended risk score.'
        decisionScore:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: The authoritative blended risk score (0.0 - 1.0) derived from expert fusion.
        fraudScore:
          $ref: '#/components/schemas/FraudScore'
        breakdown:
          $ref: '#/components/schemas/RiskBreakdown'
        reasonCodes:
          type: array
          items:
            type: string
          description: Technical reason codes for the decision.
          example:
            - HIGH_VALUE
            - UNUSUAL_LOCATION
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/ReasonDetail'
          description: Structured reason details for the decision.
        actions:
          type: array
          items:
            type: string
            enum:
              - step_up
              - throttle
              - lock_account
              - decline
              - queue_review
            description: |
              Action to be taken based on the decision. 'step_up' for Strong Customer Authentication, 'throttle' for rate limiting, 'lock_account' for account suspension, 'decline' for transaction rejection, 'queue_review' for manual review.
          example:
            - queue_review
        paymentIntentId:
          $ref: '#/components/schemas/PaymentIntentId'
        policyVersion:
          type: string
          description: The version of the policy that generated the decision.
          example: v1.0.0
        modelVersion:
          type: string
          description: The version of the model that generated the decision.
          example: v1.0.0
        ttlSeconds:
          type: integer
          minimum: 0
          description: Time to live for the decision in seconds.
          example: 3600
      example:
        assessmentId: pi_0123456789abcdef0123456789abcdef
        decision: approve
        decisionAt: '2023-12-14T15:45:30.123Z'
        riskScore: 0.98
        decisionScore: 0.98
    SignalsAccountVariant:
      title: SignalsAccountVariant
      type: object
      description: Account-level signal variant (single account state snapshot).
      required:
        - signalType
        - entities
        - account
      properties:
        signalType:
          type: string
          enum:
            - account
          description: Value for account signals.
        entities:
          $ref: '#/components/schemas/EntityIds'
        account:
          $ref: '#/components/schemas/Account'
    SignalsInteractionVariant:
      title: SignalsInteractionVariant
      type: object
      description: Interaction batch signal variant (one or more user interactions).
      required:
        - signalType
        - entities
        - interactions
      properties:
        signalType:
          type: string
          enum:
            - interaction
          description: Value for interaction signals.
        entities:
          $ref: '#/components/schemas/EntityIds'
        interactions:
          type: array
          minItems: 1
          maxItems: 1000
          description: One or more interactions associated with the signal.
          items:
            $ref: '#/components/schemas/Interaction'
    SignalsRequest:
      title: SignalsRequest
      description: |
        Request for processing application workflow signals. Determined by `signalType`.
      oneOf:
        - $ref: '#/components/schemas/SignalsAccountVariant'
        - $ref: '#/components/schemas/SignalsInteractionVariant'
      discriminator:
        propertyName: signalType
        mapping:
          account: '#/components/schemas/SignalsAccountVariant'
          interaction: '#/components/schemas/SignalsInteractionVariant'
      example:
        signalType: account
        entities:
          tenantId: ten_alogram_01
          endCustomerId: cus_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
        account:
          email: someemail@example-emails.com
          timestamp: '2023-12-14T15:45:30.123Z'
          deviceInfo:
            fingerprint: fp_5f4dcc3b5aa765d61d8327deb882cf99
            userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
            ip:
              ipAddress: 192.168.1.100
              country: US
    ScoresSuccessResponse:
      type: object
      required:
        - scores
      description: List of fraud scores for a customer.
      properties:
        scores:
          type: array
          description: Score records within the requested window.
          items:
            $ref: '#/components/schemas/ScoreRecord'
        nextPageToken:
          type: string
          description: A token for retrieving the next page of results.
          maxLength: 4096
          example: eyJhbGciOi...
      example:
        scores:
          - assessmentId: pi_0123456789abcdef0123456789abcdef
            decisionAt: '2023-12-14T15:45:30.123Z'
            decision: approve
            riskScore: 0.98
            decisionScore: 0.98
            entity:
              tenantId: ten_alogram_01
              endCustomerId: cus_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
            amount: 100
            currency: USD
        nextPageToken: eyJhbGciOi...
    ScoreRecord:
      type: object
      required:
        - assessmentId
        - decisionAt
        - decision
        - riskScore
        - decisionScore
      description: Fraud score for a specific transaction or entity.
      example:
        assessmentId: pi_0123456789abcdef0123456789abcdef
        decisionAt: '2023-12-14T15:45:30.123Z'
        decision: approve
        riskScore: 0.98
        decisionScore: 0.98
        entities:
          tenantId: ten_alogram_01
          endCustomerId: cus_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
        amount: 100
        currency: USD
      properties:
        assessmentId:
          type: string
          description: Universal decision identifier (for purchases, equals paymentIntentId).
          example: pi_234567890abcdef
        paymentIntentId:
          $ref: '#/components/schemas/PaymentIntentId'
        decisionAt:
          $ref: '#/components/schemas/Timestamp'
        decision:
          type: string
          enum:
            - approve
            - review
            - decline
            - step_up
          description: The synchronous risk decision for a purchase.
          example: approve
        riskScore:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: 'DEPRECATED: Use decisionScore instead. Fraud risk score (0.00 - 1.00).'
          example: 0.98
        decisionScore:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: The authoritative blended risk score (0.0 - 1.0) derived from expert fusion.
          example: 0.98
        fraudScore:
          $ref: '#/components/schemas/FraudScore'
        breakdown:
          $ref: '#/components/schemas/RiskBreakdown'
        reasons:
          type: array
          items:
            $ref: '#/components/schemas/ReasonDetail'
          description: Structured reason details for the score.
        entities:
          $ref: '#/components/schemas/EntityIds'
        amount:
          $ref: '#/components/schemas/PurchaseAmount'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
    AccountCheckRequest:
      type: object
      required:
        - eventSubtype
      properties:
        eventSubtype:
          type: string
          enum:
            - signup
            - login
            - password_reset
            - mfa_reset
            - setting_change
          description: The specific subtype of the account event (e.g., 'signup', 'login').
        entities:
          $ref: '#/components/schemas/EntityIds'
        account:
          $ref: '#/components/schemas/Account'
        interaction:
          $ref: '#/components/schemas/Interaction'
    KycPayload:
      title: KycPayload
      type: object
      description: KYC provider result payload.
      properties:
        provider:
          type: string
          example: onfido
        documentType:
          type: string
          enum:
            - passport
            - national_id
            - driver_license
            - other
          example: national_id
          description: The document type used for verification.
        country:
          type: string
          minLength: 2
          maxLength: 2
          example: US
        result:
          type: string
          enum:
            - passed
            - failed
            - review
            - timeout
            - error
          example: passed
          description: The result of the KYC check.
        reasonCodes:
          type: array
          description: Array of reason codes for the KYC check.
          items:
            type: string
            example: HIGH_VALUE
        metadata:
          $ref: '#/components/schemas/MetaData'
    KycCheckRequest:
      type: object
      required:
        - eventSubtype
        - account
      properties:
        eventSubtype:
          type: string
          enum:
            - pre_kyc_check
            - doc_scan
            - liveness
            - address_check
            - sanctions_pep
          description: The specific subtype of the KYC event.
        entities:
          $ref: '#/components/schemas/EntityIds'
        account:
          $ref: '#/components/schemas/Account'
        kyc:
          $ref: '#/components/schemas/KycPayload'
    EntityIds:
      type: object
      description: |
        Canonical entity identifiers (tenant/client/user/device/session). Do not send raw PII. Hash emails/phones/addresses as sha256 and prefix with 'sha256_'.
        Tiered support:
          - tenantId is the top-level SaaS customer (required for all flows).
          - clientId is the tenant's downstream business customer (e.g. merchant/partner) and MAY be omitted for
            processor / bank / PSP-style integrations.
          - endCustomerId is the tenant/client's consumer or business account (cardholder, shopper, etc.) and
            MAY be omitted for purely device- or instrument-level checks.
      properties:
        tenantId:
          $ref: '#/components/schemas/TenantId'
        clientId:
          $ref: '#/components/schemas/ClientId'
        endCustomerId:
          $ref: '#/components/schemas/EndCustomerId'
        operatorId:
          $ref: '#/components/schemas/OperatorId'
        auth:
          $ref: '#/components/schemas/AuthContext'
        skuId:
          $ref: '#/components/schemas/SkuId'
        skuHandle:
          $ref: '#/components/schemas/SkuHandle'
        paymentInstrumentId:
          type: string
          description: Tokenized instrument ID (non-PCI).
          pattern: ^[a-zA-Z0-9\-_:]{2,96}$
          maxLength: 100
          example: tok_abcdef1234567890
        deviceId:
          type: string
          description: |
            Server-issued stable device token (device-level identifier).
            Should persist across sessions and logins on the same browser/device.
          pattern: ^did_[a-zA-Z0-9\-_:]{2,96}$
          maxLength: 100
          example: did_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
        sessionId:
          type: string
          description: |
            Application/user session identifier (login or checkout session).
            Typically rotates more frequently than deviceId and may be tied to authentication.
          pattern: ^sid_[a-zA-Z0-9\-_:]{2,96}$
          maxLength: 100
          example: sid_a1b2c3d4e5f6a7b8c9d0e1f2a3b4c5d6
        agent:
          $ref: '#/components/schemas/AgentManifest'
        emailHash:
          type: string
          pattern: ^sha256_[0-9a-f]{64}$
          maxLength: 71
          description: Normalized+lowercased email hash (e.g., sha256).
          example: sha256_abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890
        emailDomainHash:
          description: Normalized+lowercased email *domain* hash (e.g., sha256).
          example: sha256_abcdef1234567890abcdef1234567890abcdef1234567890abcdef1234567890
          maxLength: 71
          pattern: ^sha256_[0-9a-f]{64}$
          type: string
        phoneHash:
          type: string
          pattern: ^sha256_[0-9a-f]{64}$
          maxLength: 71
          description: Normalized+lowercased phone hash (e.g., sha256).
          example: sha256_e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
        shippingAddressHash:
          type: string
          pattern: ^sha256_[0-9a-f]{64}$
          maxLength: 71
          description: Normalized+lowercased shipping address hash (e.g., sha256).
          example: sha256_e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
        billingAddressHash:
          type: string
          pattern: ^sha256_[0-9a-f]{64}$
          maxLength: 71
          description: Normalized+lowercased billing address hash (e.g., sha256).
          example: sha256_e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
    PaymentIntentId:
      type: string
      title: PaymentIntentId
      minLength: 35
      maxLength: 35
      pattern: ^pi_[a-f0-9]{32}$
      description: Server-minted unique payment identifier.
      example: pi_0123456789abcdef0123456789abcdef
    Account:
      type: object
      description: The application-layer Account object.
      example:
        email: someemail@example-emails.com
        phone: +1 (415) 555-2671
        timestamp: '2023-12-14T15:45:30.123Z'
        deviceInfo:
          fingerprint: fp_5f4dcc3b5aa765d61d8327deb882cf99
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
          ip:
            ipAddress: 192.168.1.100
            country: US
        metadata: '{"loyaltyTier": "gold"}'
      properties:
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        phone:
          $ref: '#/components/schemas/PhoneNumber'
        email:
          $ref: '#/components/schemas/EmailAddress'
        metadata:
          $ref: '#/components/schemas/MetaData'
    InteractionTypeEnum:
      type: string
      enum:
        - login
        - feature_use
        - setting_change
        - page_view
        - 3rd_party_event
        - custom_event
      description: The type of interaction being recorded.
      example: login
    Interaction:
      type: object
      required:
        - interactionType
      description: The application-layer Interaction object.
      example:
        locationId: loc_1234
        interactionType: login
        timestamp: '2023-12-14T15:45:30.123Z'
        deviceInfo:
          fingerprint: fp_5f4dcc3b5aa765d61d8327deb882cf99
          userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
          ip:
            ipAddress: 192.168.1.100
            country: US
      properties:
        locationId:
          $ref: '#/components/schemas/LocationId'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        interactionType:
          $ref: '#/components/schemas/InteractionTypeEnum'
        metadata:
          $ref: '#/components/schemas/MetaData'
    PaymentMethod:
      title: PaymentMethod
      description: Union of instrument-specific payment details.
      oneOf:
        - $ref: '#/components/schemas/Card'
        - $ref: '#/components/schemas/Wallet'
        - $ref: '#/components/schemas/Realtime'
        - $ref: '#/components/schemas/BankTransfer'
        - $ref: '#/components/schemas/Crypto'
        - $ref: '#/components/schemas/Invoice'
      discriminator:
        propertyName: type
        mapping:
          card: '#/components/schemas/Card'
          wallet: '#/components/schemas/Wallet'
          realtime: '#/components/schemas/Realtime'
          bank_transfer: '#/components/schemas/BankTransfer'
          crypto: '#/components/schemas/Crypto'
          invoice: '#/components/schemas/Invoice'
      example:
        type: card
        cardNetwork: visa
        cardType: credit
        bin: '411111'
        issuerCountry: US
        avsResult: 'Y'
        cvvResult: M
    Purchase:
      type: object
      required:
        - amount
        - currency
        - paymentMethod
      description: |
        Purchase details for fraud checks; core fields are common, instrument specifics live in `paymentMethod`.
      example:
        locationId: loc_1234
        timestamp: '2023-12-14T15:45:30.123Z'
        transactionId: tx_123
        amount: 123.45
        currency: USD
        paymentMethod:
          type: card
          cardNetwork: visa
          cardType: credit
          bin: '411111'
          issuerCountry: US
          avsResult: 'Y'
          cvvResult: M
          scaMethod: 3ds_v2
        discounts:
          - code: SAVE20
            amount: 24.69
            type: percentage
      properties:
        locationId:
          $ref: '#/components/schemas/LocationId'
        deviceInfo:
          $ref: '#/components/schemas/DeviceInfo'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        transactionId:
          $ref: '#/components/schemas/TransactionId'
        amount:
          $ref: '#/components/schemas/PurchaseAmount'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        channel:
          $ref: '#/components/schemas/ChannelEnum'
        entryMethod:
          $ref: '#/components/schemas/EntryMethodEnum'
        paymentMethod:
          $ref: '#/components/schemas/PaymentMethod'
        order:
          $ref: '#/components/schemas/OrderContext'
        discounts:
          type: array
          items:
            $ref: '#/components/schemas/DiscountCode'
          description: List of discount codes applied to the purchase.
        payerType:
          $ref: '#/components/schemas/PayerTypeEnum'
        storedCredential:
          $ref: '#/components/schemas/StoredCredentialContext'
        merchant:
          $ref: '#/components/schemas/MerchantContext'
        metadata:
          $ref: '#/components/schemas/MetaData'
    DiscountCode:
      type: object
      title: DiscountCode
      required:
        - code
      properties:
        code:
          type: string
          description: The discount code string (e.g., 'SUMMER20').
          example: SAVE20
        amount:
          type: number
          format: float
          description: The monetary value saved by this discount.
          example: 10
        type:
          type: string
          enum:
            - percentage
            - fixed_amount
            - free_shipping
            - buy_x_get_y
          description: The type of discount applied.
          example: percentage
        usageLimitPerUser:
          type: integer
          description: 'Optional: The number of times a single user/device is allowed to use this specific code.'
          example: 1
    Card:
      type: object
      title: Card
      required:
        - type
      description: Card attributes (network, BIN/IIN, issuer country, AVS/CVV, SCA, optional 3DS).
      properties:
        type:
          type: string
          description: Fixed to `card` for this schema.
          enum:
            - card
        cardNetwork:
          $ref: '#/components/schemas/CardNetworkEnum'
        cardType:
          $ref: '#/components/schemas/PaymentCardTypeEnum'
        bin:
          type: string
          description: Bank Identification Number (IIN). First 6-8 digits of the PAN; do not send full PAN.
          pattern: ^[0-9]{6,8}$
          minLength: 6
          maxLength: 8
          example: '411111'
        issuerCountry:
          $ref: '#/components/schemas/CountryCode'
        avsResult:
          $ref: '#/components/schemas/AvsResultEnum'
        cvvResult:
          $ref: '#/components/schemas/CvvResultEnum'
        scaMethod:
          $ref: '#/components/schemas/ScaMethodEnum'
        threeDS:
          $ref: '#/components/schemas/ThreeDSData'
    Wallet:
      type: object
      title: Wallet
      required:
        - type
      description: Digital wallet attributes (e.g., PayPal, Apple Pay, Google Pay).
      properties:
        type:
          type: string
          description: Fixed to `wallet` for this schema.
          enum:
            - wallet
        walletType:
          $ref: '#/components/schemas/PaymentWalletTypeEnum'
    Realtime:
      type: object
      title: Realtime
      required:
        - type
      description: Real-time account-to-account rails (e.g., Zelle, RTP, FedNow, Faster Payments, UPI).
      properties:
        type:
          type: string
          description: Fixed to `realtime` for this schema.
          enum:
            - realtime
        realtimeType:
          $ref: '#/components/schemas/PaymentRealtimeTypeEnum'
    BankTransfer:
      type: object
      title: BankTransfer
      required:
        - type
      description: Traditional bank transfer (e.g., ACH, SEPA Credit Transfer); keep payload minimal.
      properties:
        type:
          type: string
          description: Fixed to `bank_transfer` for this schema.
          enum:
            - bank_transfer
    Crypto:
      type: object
      title: Crypto
      required:
        - type
      description: Cryptocurrency/stablecoin settlement details; include only non-secret identifiers.
      properties:
        type:
          type: string
          description: Fixed to `crypto` for this schema.
          enum:
            - crypto
    Invoice:
      type: object
      title: Invoice
      required:
        - type
      description: Invoice/pay-later workflows where settlement is asynchronous.
      properties:
        type:
          type: string
          description: Fixed to `invoice` for this schema.
          enum:
            - invoice
    TransactionId:
      type: string
      minLength: 3
      maxLength: 50
      pattern: ^[a-zA-Z0-9\-_]+$
      description: |
        A unique identifier for the transaction. Must be between 3 and 50 characters and only contain alphanumeric characters, underscores, or hyphens.
      example: tx_123
    CurrencyCode:
      type: string
      pattern: ^[A-Z]{3}$
      minLength: 3
      maxLength: 3
      example: USD
      description: ISO 4217 currency code (e.g., 'USD').
    PurchaseAmount:
      type: number
      format: float
      minimum: 0.01
      maximum: 10000000
      example: 23
      description: |
        Value of the purchase in the specified currency. Must be a positive number with up to two decimal places.
    PaymentCardTypeEnum:
      type: string
      enum:
        - credit
        - debit
        - prepaid
      example: credit
      description: The type of card used for the payment.
    PaymentWalletTypeEnum:
      type: string
      enum:
        - paypal
        - apple_pay
        - google_pay
        - cash_app
        - venmo
        - link
        - shop_pay
        - amazon_pay
        - samsung_pay
        - other
      example: paypal
      description: The type of digital wallet used for the payment.
    PaymentRealtimeTypeEnum:
      type: string
      enum:
        - zelle
        - rtp
        - fed_now
        - faster_payments
        - upi
      example: zelle
      description: The type of real-time payment network used.
    PayerTypeEnum:
      type: string
      enum:
        - consumer
        - business
      example: consumer
      description: The type of payer (consumer or business).
      default: consumer
    StoredCredentialContext:
      type: object
      description: Minimal stored-credential / recurrence context.
      properties:
        usage:
          $ref: '#/components/schemas/PurchaseUsageEnum'
        sequence:
          $ref: '#/components/schemas/PurchaseSequenceEnum'
        initiator:
          $ref: '#/components/schemas/PurchaseInitiatorEnum'
    RiskLevelEnum:
      type: string
      enum:
        - low
        - medium
        - high
      description: The risk level of the entity.
      example: medium
    ConfidenceEnum:
      type: string
      enum:
        - low
        - medium
        - high
      description: The confidence level of the risk assessment.
      example: medium
    FraudScore:
      type: object
      properties:
        riskLevel:
          $ref: '#/components/schemas/RiskLevelEnum'
        confidence:
          $ref: '#/components/schemas/ConfidenceEnum'
        score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Fraud risk score (0.00 - 1.00).
          example: 0.98
        explanation:
          type: string
          maxLength: 512
          description: A human-readable explanation of the fraud score, if available.
          example: Sleeper account
      required:
        - riskLevel
      description: Fraud score for a specific transaction or entity.
    RiskCategoryEnum:
      type: string
      enum:
        - geography
        - identity
        - behavior
        - transaction
        - network
      description: High-level business category for risk signals.
    ReasonDetail:
      type: object
      description: Merchant-friendly detail for a specific risk reason.
      required:
        - code
        - category
        - displayName
      properties:
        code:
          type: string
          description: Technical reason code (e.g., GEO_COUNTRY_SANCTIONED).
        category:
          $ref: '#/components/schemas/RiskCategoryEnum'
        displayName:
          type: string
          description: Merchant-friendly name for the risk reason.
        description:
          type: string
          description: Detailed explanation of the risk signal.
        recommendedAction:
          type: string
          description: Suggested action for the merchant to mitigate this specific risk.
    CategorySignal:
      type: object
      description: Risk analysis for a specific business category.
      properties:
        level:
          $ref: '#/components/schemas/RiskLevelEnum'
        score:
          type: number
          format: float
          minimum: 0
          maximum: 1
          description: Category-specific risk score (0.00 - 1.00).
        reasons:
          type: array
          items:
            type: string
          description: Specific reason codes for this category.
        metadata:
          type: object
          description: Derived evidence and enrichment data for this category.
          example:
            ip_country: GB
            ip_city: London
            is_proxy: true
      required:
        - level
    RiskBreakdown:
      type: object
      description: Breakdown of risk signals by business category.
      properties:
        geography:
          $ref: '#/components/schemas/CategorySignal'
        identity:
          $ref: '#/components/schemas/CategorySignal'
        behavior:
          $ref: '#/components/schemas/CategorySignal'
        transaction:
          $ref: '#/components/schemas/CategorySignal'
        network:
          $ref: '#/components/schemas/CategorySignal'
    ChannelEnum:
      type: string
      enum:
        - pos
        - ecom
        - in_app
        - ivr
      description: |
        pos: 'Point of Sale', ecom: 'E-commerce', in_app: 'In-App Purchase', ivr: 'Interactive Voice Response'.
      example: pos
    EntryMethodEnum:
      type: string
      enum:
        - chip
        - contactless
        - magstripe
        - manual_keyed
        - card_on_file
        - wallet_token
        - network_token
      description: The method used to capture card data.
      example: chip
    CardNetworkEnum:
      type: string
      enum:
        - visa
        - mastercard
        - amex
        - discover
        - jcb
        - unionpay
        - other
      description: The type of card network.
      example: mastercard
    AvsResultEnum:
      type: string
      enum:
        - 'Y'
        - 'N'
        - A
        - Z
        - U
        - R
        - S
        - G
        - B
        - C
        - D
        - M
        - P
        - X
        - W
      description: |
        AVS response codes:
        Y: Address and 5-digit ZIP match
        N: Address and 5-digit ZIP do not match
        A: Address matches, ZIP does not
        Z: ZIP matches, address does not
        U: Address unavailable
        R: System unavailable
        S: Not supported
        G: Global non-AVS
        B: International AVS
        C: Street address and postal code not verified due to incompatible formats
        D: Street address and postal code not verified due to incompatible formats
        M: Street address and postal code match
        P: Street address not verified. Postal code matches.
        X: Street address and 9-digit ZIP match
        W: Street address not verified. 9-digit ZIP matches.
      example: 'Y'
    CvvResultEnum:
      type: string
      enum:
        - M
        - 'N'
        - P
        - S
        - U
      description: |
        M: CVV match
        N: CVV no match
        P: Not processed
        S: Should have been present
        U: Unavailable
      example: U
    ScaMethodEnum:
      type: string
      enum:
        - none
        - 3ds_v1
        - 3ds_v2
        - otp_sms
        - biometric
        - fido2
        - other
      description: The method used for Strong Customer Authentication (SCA).
      example: biometric
    ThreeDSData:
      type: object
      description: 3D Secure (3DS) data for card transactions.
      properties:
        version:
          type: string
          example: 2.2.0
          description: The version of the 3D Secure protocol used (e.g., '2.2.0').
        eci:
          type: string
          example: '05'
          description: |
            Electronic Commerce Indicator. Values indicate the outcome of 3D Secure authentication.
        flow:
          type: string
          enum:
            - frictionless
            - challenge
          example: frictionless
          description: |
            The flow of the 3D Secure authentication. 'frictionless' means no challenge was presented to the cardholder, 'challenge' means the cardholder was challenged.
        liabilityShift:
          type: boolean
          description: |
            Indicates whether liability for chargebacks has shifted to the issuer (true) or remains with the merchant (false).
          example: true
        cavvPresent:
          type: boolean
          description: |
            Indicates whether the Cardholder Authentication Verification Value (CAVV) was present in the 3DS message.
          example: true
    MerchantContext:
      type: object
      description: Merchant context for the purchase.
      properties:
        mcc:
          type: string
          pattern: ^[0-9]{4}$
          minLength: 4
          maxLength: 4
          description: Merchant Category Code (MCC) for the merchant.
          example: '5942'
        merchantCountry:
          $ref: '#/components/schemas/CountryCode'
    Identity:
      description: |
        Optional raw identity details for the account associated with the purchase.
        These fields (email, phone, addresses) are used for normalization, hashing,
        and risk feature extraction (e.g., email/phone/domain scoring, address risk),
        and are not stored in raw form by Alogram.

        When provided, Alogram will derive and/or cross-check:
        - emailHash / phoneHash / shippingAddressHash / billingAddressHash
          in the Alogram entity model
        - email/phone/domain risk signals
        - address consistency and geo-distance checks
      properties:
        email:
          $ref: '#/components/schemas/EmailAddress'
        emailDomain:
          description: |
            Email domain only (no local part). Useful for domain-level risk and
            allow/deny lists without sending full email PII.
            Example: "gmail.com", "merchant-example.co.uk"
          example: gmail.com
          maxLength: 255
          pattern: ^[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$
          type: string
        phone:
          $ref: '#/components/schemas/PhoneNumber'
        shippingAddress:
          $ref: '#/components/schemas/PostalAddress'
        billingAddress:
          $ref: '#/components/schemas/PostalAddress'
        isBot:
          type: boolean
          description: 'Optional: Set to true if client-side bot detection (e.g. reCAPTCHA) triggered.'
          example: false
        emailReputation:
          type: string
          enum:
            - low
            - medium
            - high
          description: 'Optional: Client-side assessment of email reputation.'
          example: high
      type: object
    OrderContext:
      type: object
      description: Order context for the purchase.
      example:
        orderId: ORD-789012
        orderTotal: 123.45
        shippingMethod: ship
        lineItemCount: 2
      properties:
        orderId:
          type: string
          description: Unique identifier for the order.
          example: ORD-789012
        orderTotal:
          $ref: '#/components/schemas/PurchaseAmount'
        shippingMethod:
          type: string
          enum:
            - digital
            - ship
            - bopis
          description: Shipping method for the order.
          example: ship
        lineItemCount:
          type: integer
          minimum: 0
          maximum: 100
          description: Number of items in the order.
          example: 2
    PurchaseUsageEnum:
      type: string
      enum:
        - one_time
        - recurring
        - installment
        - unscheduled
      description: Payment use case.
      example: recurring
      default: one_time
    PurchaseSequenceEnum:
      type: string
      enum:
        - first
        - subsequent
      description: First transaction in the series vs a subsequent one.
      example: first
    PurchaseInitiatorEnum:
      type: string
      enum:
        - cardholder
        - merchant
      description: Who initiated the transaction (CIT vs MIT).
      example: merchant
    PaymentEventType:
      type: string
      enum:
        - authorization
        - capture
        - settlement
        - refund
        - dispute
        - chargeback
        - chargeback_outcome
      description: The type of payment lifecycle event.
      example: authorization
    ExternalAssessment:
      type: object
      required:
        - source
        - level
      properties:
        source:
          type: string
          description: The provider of the assessment (e.g., 'shopify', 'signifyd').
          example: shopify
        level:
          $ref: '#/components/schemas/RiskLevelEnum'
        score:
          type: number
          format: float
          description: The raw score provided by the 3rd party (if applicable).
        recommendation:
          type: string
          description: The specific action recommended by the 3rd party.
          example: decline
        reasonCodes:
          type: array
          items:
            type: string
          description: Raw reason codes provided by the 3rd party vendor.
          example:
            - address_mismatch
            - high_risk_country
        metadata:
          $ref: '#/components/schemas/MetaData'
    PaymentAuthorizationOutcome:
      title: PaymentAuthorizationOutcome
      type: object
      description: Authorization outcome details.
      properties:
        approved:
          type: boolean
          description: Indicates whether authorization was approved.
          example: true
        responseCode:
          type: string
          description: Authorization response code.
          maxLength: 16
          example: '00'
    PaymentCaptureOutcome:
      title: PaymentCaptureOutcome
      type: object
      description: Capture outcome details.
      properties:
        status:
          type: string
          description: Capture status.
          enum:
            - none
            - partial
            - full
            - failed
          example: full
    PaymentRefundOutcome:
      title: PaymentRefundOutcome
      type: object
      description: Refund outcome details.
      properties:
        status:
          type: string
          description: Refund status.
          enum:
            - none
            - partial
            - full
          example: none
    PaymentDisputeOutcome:
      title: PaymentDisputeOutcome
      type: object
      description: Dispute lifecycle status for the transaction.
      properties:
        status:
          type: string
          description: Dispute status.
          enum:
            - none
            - open
            - won
            - lost
            - canceled
          example: open
    PaymentChargeback:
      title: PaymentChargeback
      type: object
      description: Chargeback details, including reason code.
      properties:
        reason:
          type: string
          description: Chargeback reason code.
          maxLength: 32
          example: '10.4'
    PaymentChargebackOutcome:
      title: PaymentChargebackOutcome
      type: object
      description: Final disposition of the chargeback after investigation/representment.
      properties:
        status:
          type: string
          description: Outcome of the chargeback case.
          enum:
            - won
            - lost
            - representment
            - reversed
          example: won
    PaymentOutcome:
      type: object
      description: |
        Payment outcome details. Structured by lifecycle stage for clarity and validation. Stages include authorization, capture, refund, dispute, chargeback, and chargebackOutcome.
      example:
        authorization:
          approved: true
          responseCode: '00'
        capture:
          status: full
        refund:
          status: none
        dispute:
          status: open
        chargeback:
          reason: '10.4'
        chargebackOutcome:
          status: won
      properties:
        authorization:
          $ref: '#/components/schemas/PaymentAuthorizationOutcome'
        capture:
          $ref: '#/components/schemas/PaymentCaptureOutcome'
        refund:
          $ref: '#/components/schemas/PaymentRefundOutcome'
        dispute:
          $ref: '#/components/schemas/PaymentDisputeOutcome'
        chargeback:
          $ref: '#/components/schemas/PaymentChargeback'
        chargebackOutcome:
          $ref: '#/components/schemas/PaymentChargebackOutcome'
    PaymentEvent:
      type: object
      required:
        - paymentIntentId
        - eventType
        - timestamp
      description: Payment lifecycle event.
      example:
        paymentIntentId: pi_0123456789abcdef0123456789abcdef
        eventType: authorization
        timestamp: '2023-12-14T15:45:30.123Z'
      properties:
        paymentIntentId:
          $ref: '#/components/schemas/PaymentIntentId'
        eventType:
          $ref: '#/components/schemas/PaymentEventType'
        timestamp:
          $ref: '#/components/schemas/Timestamp'
        amount:
          $ref: '#/components/schemas/PurchaseAmount'
        currency:
          $ref: '#/components/schemas/CurrencyCode'
        outcome:
          $ref: '#/components/schemas/PaymentOutcome'
        metadata:
          $ref: '#/components/schemas/MetaData'
    TraceId:
      type: string
      title: TraceId
      minLength: 36
      maxLength: 36
      pattern: ^trc_[a-f0-9]{32}$
      example: trc_123e4567e89b12d3a456426614174000
      description: |
        A unique identifier for tracing requests. Must start with "trc_" and be followed by a 32-character  lowercase hexadecimal string (no dashes). Total length is 36 characters.
    IdempotencyKey:
      type: string
      title: IdempotencyKey
      description: |
        Unique Idempotency Key for the request.
        Must begin with `idk_` followed by a 32-character UUID4 hex string.
      minLength: 36
      maxLength: 36
      pattern: ^idk_[a-f0-9]{32}$
      example: idk_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
    AgentProvider:
      type: string
      title: AgentProvider
      enum:
        - google
        - openai
        - anthropic
        - alogram
        - other
      description: The AI system provider that issued the agent manifest.
    EndCustomerId:
      type: string
      title: EndCustomerId
      pattern: ^(ecid_[a-z0-9\-_]{2,96}|cus_[a-f0-9]{32})$
      minLength: 6
      maxLength: 100
      example: cus_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
      description: |
        Canonical ID for the client’s end user / consumer (account holder).  Opaque, immutable, lowercase. Supports "ecid_" slugs (Legacy) or "cus_" hex (Preferred).
    AgentManifest:
      type: object
      title: AgentManifest
      description: |
        Proof of delegation for an autonomous shopping agent (UCP/MCP compatible).  Allows PayRisk to verify the "Who" and "Trust" behind a machine-driven transaction.
      required:
        - provider
        - model
        - principalId
        - trustTier
      properties:
        provider:
          $ref: '#/components/schemas/AgentProvider'
        model:
          type: string
          example: gemini-1.5-pro
          description: Specific model version of the agent.
        principalId:
          $ref: '#/components/schemas/EndCustomerId'
        trustTier:
          type: number
          format: float
          minimum: 0
          maximum: 1
          example: 0.95
          description: Platform-provided reputation score for the agent.
        capabilities:
          type: array
          items:
            type: string
          example:
            - purchase
            - negotiate
          description: Authorized scope of authority for the agent.
    TenantId:
      type: string
      title: TenantId
      pattern: ^(tid|ten)_[a-z0-9_-]{2,64}$
      minLength: 6
      maxLength: 68
      example: ten_acme_01
      description: |
        Canonical ID for the paying organization (Tenant). Opaque, immutable, lowercase.  Must start with "tid_" (Legacy) or "ten_" (Preferred).
    ClientId:
      type: string
      title: ClientId
      pattern: ^(cid|cli)_[a-z0-9_-]{2,96}$
      minLength: 6
      maxLength: 100
      example: cli_merchant_42
      description: |
        Canonical ID for the Tenant’s business customer (e.g., merchant/partner).  Opaque, immutable, lowercase. Must start with "cid_" (Legacy) or "cli_" (Preferred).
    OperatorId:
      type: string
      title: OperatorId
      pattern: ^(mid_[a-z0-9_-]{2,96}|op_[a-f0-9]{32})$
      minLength: 5
      maxLength: 100
      example: op_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
      description: |
        Canonical ID for a Tenant Operator (staff/automation) holding membership in the platform.  Opaque, immutable, lowercase. Supports "mid_" slugs (Legacy) or "op_" hex (Preferred).
    AuthPrincipalUid:
      type: string
      title: AuthPrincipalUid
      pattern: ^[a-zA-Z0-9\-_:|@.]{10,128}$
      minLength: 10
      maxLength: 128
      example: abc123XYZ789
      description: |
        Unique identifier for an authenticated principal (e.g., an identity provider UID or Subject).  Unprefixed and case-sensitive. Supports common OIDC characters like ":", "|", "@", and ".".
    AuthContext:
      type: object
      title: AuthContext
      description: Contextual identity information from the authentication layer.
      properties:
        uid:
          $ref: '#/components/schemas/AuthPrincipalUid'
        provider:
          type: string
          example: external
          description: The identity provider type (e.g., "external", "oidc", "saml").
    SkuId:
      type: string
      title: SkuId
      pattern: ^sku_[a-f0-9]{32}$
      minLength: 36
      maxLength: 37
      example: sku_4f9d27e2b8f64b9e9a9cf5e9e4727d0c
      description: |
        Canonical ID for a marketplace product edition or billing SKU.  Always follows the Fortress-36 (sku_ + 32 hex) format.
    SkuHandle:
      type: string
      title: SkuHandle
      pattern: ^[a-z0-9\-_]{2,64}$
      minLength: 2
      maxLength: 64
      example: payrisk-enterprise-v1
      description: |
        Human-readable identifier for a SKU, used for logic and feature checks.
    LocationId:
      type: string
      title: LocationId
      pattern: ^[a-zA-Z0-9\-_]{3,50}$
      minLength: 3
      maxLength: 50
      description: Unique identifier for the location where the transaction occurred.
      example: loc_1234
    Fingerprint:
      type: string
      title: Fingerprint
      pattern: ^fp_[a-f0-9]{32,64}$
      minLength: 35
      maxLength: 67
      description: |
        Unique hash representing the device's fingerprint. Lowercase hex. Prefix "fp_".
      example: fp_5f4dcc3b5aa765d61d8327deb882cf99
    UserAgent:
      type: string
      title: UserAgent
      pattern: ^[ -~]{10,512}$
      minLength: 10
      maxLength: 512
      description: |
        Browser's User-Agent string, useful for identifying OS and browser type.  Must be between 10 and 512 printable ASCII characters.
      example: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
    Ipv4Address:
      type: string
      title: Ipv4Address
      format: ipv4
      pattern: ^(\d{1,3}\.){3}\d{1,3}$
      minLength: 7
      maxLength: 15
      description: |
        IP address of the customer, client, or user that initiated the request. Each octet must be between 0 and 255.
      example: 192.168.1.100
    Ipv6Address:
      type: string
      title: Ipv6Address
      format: ipv6
      description: IPv6 address.
    CountryCode:
      type: string
      title: CountryCode
      description: ISO 3166-1 alpha-2 country code.
      pattern: ^[A-Z]{2}$
      minLength: 2
      maxLength: 2
      example: FR
    IpInfo:
      type: object
      properties:
        ipAddress:
          $ref: '#/components/schemas/Ipv4Address'
        ipv6:
          $ref: '#/components/schemas/Ipv6Address'
        ipVersion:
          type: string
          enum:
            - ipv4
            - ipv6
          description: IP protocol version.
          default: ipv4
          example: ipv4
        ipPrefix:
          type: string
          description: CIDR, e.g., 198.51.100.0/24 or 2001:db8::/48
          example: 198.51.100.0/24
        asn:
          type: string
          pattern: ^AS\d+$
          description: Autonomous System Number (ASN) of the IP address.
          example: AS65536
        org:
          type: string
          description: Organization associated with the IP address.
          example: Example ISP
        company:
          type: string
          description: Company associated with the IP address.
          example: Example Corp
        country:
          $ref: '#/components/schemas/CountryCode'
        region:
          type: string
          description: Region associated with the IP address.
          minLength: 2
          maxLength: 60
          example: California
        city:
          type: string
          description: City associated with the IP address.
          minLength: 2
          maxLength: 60
          example: Los Angeles
        postalCode:
          type: string
          description: Postal code associated with the IP address.
          minLength: 2
          maxLength: 10
          example: '90001'
    Integrity:
      type: object
      properties:
        isProxyVpnTor:
          type: boolean
          description: |
            Indicates whether the IP address is associated with a proxy, VPN, or Tor exit node.
          example: true
        isHostingProvider:
          type: boolean
          description: |
            Indicates whether the IP address belongs to a hosting provider (e.g., data center, cloud provider).
          example: false
        isHeadless:
          type: boolean
          description: |
            Indicates whether the browser is running in headless mode (e.g., automated testing, scraping).
          example: false
        isAutomation:
          type: boolean
          description: |
            Indicates whether the request originated from an automated script or bot.
          example: false
        isEmulator:
          type: boolean
          description: |
            Indicates whether the request originated from an emulator (e.g., Android Emulator, iOS Simulator).
          example: false
        isRootedJailbroken:
          type: boolean
          description: |
            Indicates whether the device is rooted (Android) or jailbroken (iOS).
          example: false
    DeviceInfo:
      type: object
      title: DeviceInfo
      description: Aggregated device fingerprinting and behavioral patterns used for fraud detection.
      example:
        fingerprint: fp_5f4dcc3b5aa765d61d8327deb882cf99
        userAgent: Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7)
        ip:
          ipAddress: 192.168.1.100
          country: US
        integrity:
          isProxyVpnTor: false
          isHostingProvider: false
          isHeadless: false
          isAutomation: false
          isEmulator: false
          isRootedJailbroken: false
      properties:
        fingerprint:
          $ref: '#/components/schemas/Fingerprint'
        userAgent:
          $ref: '#/components/schemas/UserAgent'
        ip:
          $ref: '#/components/schemas/IpInfo'
        integrity:
          $ref: '#/components/schemas/Integrity'
    Timestamp:
      type: string
      format: timestamp with timezone
      description: RFC 3339 timestamp with timezone.
      pattern: ^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}(\.\d{1,9})?(Z|[+-]\d{2}:\d{2})$
      example: '2023-12-14T15:45:30.123456Z'
    MetaData:
      type: string
      title: MetaData
      minLength: 1
      maxLength: 2048
      example: '{"key1": "value1", "key2": "value2"}'
      description: |
        Optional key-value pairs providing additional context for the request.  Each key should be descriptive, and values should not exceed 2048 characters.  Each key should be descriptive.
    EmailAddress:
      type: string
      title: EmailAddress
      format: email
      pattern: ^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$
      minLength: 3
      maxLength: 320
      description: Email address of the customer.
      example: someemail@example-emails.com
    PhoneNumber:
      type: string
      title: PhoneNumber
      format: phone
      pattern: ^\+?[1-9][0-9 .\-()]{6,14}[0-9]$
      minLength: 7
      maxLength: 20
      description: |
        Phone number that supports international E.164 format, as well as spaces, dashes, and parentheses.  Examples: "+1 (415) 555-2671", "415-555-2671", "+14155552671"
      example: +1 (415) 555-2671
    PostalAddress:
      description: |
        Postal address used for shipping or billing. Raw values are used only
        for normalization and risk signals; Alogram will not persist raw address
        fields in long-term storage.
      properties:
        line1:
          description: First line of the street address.
          example: 123 Market Street
          maxLength: 128
          type: string
        line2:
          description: Second line of the street address (apartment, suite, etc.).
          example: Apt 4B
          maxLength: 128
          type: string
        city:
          description: City or locality.
          example: San Francisco
          maxLength: 60
          type: string
        region:
          description: State, province, or region.
          example: CA
          maxLength: 60
          type: string
        postalCode:
          description: Postal / ZIP code.
          example: '94103'
          maxLength: 20
          type: string
        country:
          $ref: '#/components/schemas/CountryCode'
      type: object
    Problem:
      type: object
      title: Problem
      description: RFC 7807 Problem Details
      properties:
        type:
          type: string
          format: uri
          default: about:blank
          example: https://example.com/probs/validation
          description: A URI reference that identifies the problem type.
        title:
          type: string
          minLength: 3
          maxLength: 100
          example: Validation Error
          description: A short, human-readable summary of the problem type.
        status:
          type: integer
          minimum: 100
          maximum: 599
          example: 404
          description: The HTTP status code applicable to this problem.
        detail:
          type: string
          minLength: 3
          maxLength: 1024
          example: The 'amount' field is required.
          description: Human-readable explanation specific to this occurrence.
        instance:
          type: string
          format: uri
          minLength: 1
          maxLength: 1024
          example: https://api.alogram.ai/v1/risk/check
          description: A URI reference that identifies the specific occurrence.
        errorCode:
          type: string
          minLength: 3
          maxLength: 50
          example: AUTH_001
          description: Application-specific error code.
        traceId:
          type: string
          description: Server-generated trace ID for debugging.
          example: trc_123e4567e89b12d3a456426614174000
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: x-api-key
      description: |
        Your Alogram API Key. To obtain a key, log in to the Alogram  Developer Portal (https://developer.alogram.ai) and create  a new Project. In production, this key is used to authenticate  backend-to-backend requests and resolve your tenant identity.
    oAuth2:
      type: oauth2
      description: |
        OAuth 2.0 Authorization Code. The client obtains an access token and sends it as 'Authorization: Bearer <token>'. Apigee validates the token and injects trusted headers to the backend.
      flows:
        authorizationCode:
          authorizationUrl: https://api.alogram.ai/oauth2/authorize
          tokenUrl: https://api.alogram.ai/oauth2/token
          scopes:
            payrisk.read: Read fraud scores and decisions.
            payrisk.write: Submit fraud checks, events, and signals.
  parameters:
    TraceIdHeader:
      name: x-trace-id
      description: Echoed or generated trace ID for tracking requests.
      in: header
      required: false
      explode: false
      style: simple
      schema:
        $ref: '#/components/schemas/TraceId'
    IdempotencyKeyHeaderRequired:
      name: x-idempotency-key
      description: Unique Idempotency-Key sent in the POST request etc.
      in: header
      required: true
      schema:
        $ref: '#/components/schemas/IdempotencyKey'
    AgentManifestHeader:
      name: x-alogram-agent-manifest
      description: |
        JSON-encoded AgentManifest for autonomous shopping agents.  Required for machine-to-machine trust validation (UCP/MCP).
      in: header
      required: false
      schema:
        $ref: '#/components/schemas/AgentManifest'
    IdempotencyKeyHeaderOptional:
      name: x-idempotency-key
      description: Unique Idempotency-Key sent in the GET request etc.
      in: header
      required: false
      schema:
        $ref: '#/components/schemas/IdempotencyKey'
  headers:
    TraceIdHeader:
      description: Echoed or generated trace ID for tracking requests, returned in the response headers.
      schema:
        $ref: '#/components/schemas/TraceId'
    XIdempotencyKeyHeader:
      description: Echo of the request's x-idempotency-key header.
      schema:
        $ref: '#/components/schemas/IdempotencyKey'
